.container
	h1 Image cropper made easy
	button.btn.btn-default((click)="show = !show") Toggle
	h2 Inline cropper
	.row(*ngIf="show")
		.col-md-8.col-md-offset-2
			.cropper
				image-cropper(imageUrl="./cropped.png", [settings]="{ width: 600, height: 200 }", [cropperOptions]="{viewMode: 1}")

	//- h2 Cropper form input

	//- form.form(*ngIf="form", [formGroup]="form")
	//- 	.form-group
	//- 		label.control-label Image
	//- 		input-image-crop(formControlName="image", [settings]="{ width: 600, height: 400 }")
